.seleccionar-fecha__label {	
	display: inline-block;
	color: var(--tg-theme-text-color)
}

.seleccionar-fecha__enviar-mensaje {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin: 15px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--tg-theme-button-color, #3c87f7);
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
}

.seleccionar-fecha__enviar-mensaje:hover {
	background-color: var(--tg-theme-button-color);
}

.seleccionar-fecha__input-fecha {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid var(--tg-theme-button-color, #3c87f7);
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}