label {
  display: inline-block;
  color: var(--tg-theme-text-color)
}

.send-data {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin: 15px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--tg-theme-button-color, #3c87f7);
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
}

.send-data:hover {
  background-color: var(--tg-theme-button-color);
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid var(--tg-theme-button-color, #3c87f7);
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}